.select2-container {
  width: 100% !important;
}
.select2-selection.select2-selection--single {
    padding: 9px 12px;
    border: #ccc 1px solid;
    border-radius: 0;
    color: #000;
    font-weight: 100;
    font-size: 14px;
    width: 100%;
    height: 40px;
}
.select2-selection.select2-selection--multiple {
    padding: 3px 5px;
    border: #ccc 1px solid;
    border-radius: 0;
}
.select2-selection__rendered {
    margin-top: -3px;
    margin-left: -10px;
    font-weight: 400;
}
.select2-selection__arrow {
    margin-top: 5px;
    margin-right: 5px;
}
.select2-results .select2-results__options {
    font-size: 13px;
    font-family: inherit;
}

.table-data-list th, .table-data-list-view th {
    background: #FFFFFF !important;
}