<!doctype html>
<html layout:decorate="~{layout/base}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">
		<div layout:fragment="content" class="content-wrap">
			<div class="media align-items-stretch justify-content-center ht-100p pos-relative" style="padding: 15%;">
				<div class="sign-wrapper mg-lg-l-50 mg-xl-l-60">
					<div class="mx-wd-300 wd-sm-450 ht-100p d-flex flex-column align-items-center justify-content-center">
						<div class="wd-80p wd-sm-300 mg-b-15" style="margin: 20px;"><img src="/images/avatar.png" alt=""></div>
						<h3 class="tx-color-01 mg-b-5">승인 대기중입니다.</h3>
						<p class="tx-color-03 mg-b-30 tx-center">승인 후 이용이 가능합니다. 관리자에게 문의해주세요.</p>
						<span class="tx-12 tx-color-03"><img src="/images/ico-info.png" alt=""> 우측상단의 프로필을 선택할 경우 내정보 변경이 가능합니다.</span>
					</div>
				</div>
			</div>s
		</div>
</html>
